{% extends "base.html" %}

{% block content %}



    <table border="1">
    <thead>
    <tr>
      <th>Category</th>
      <th>Number</th>
      <th>Edit</th>
      <th>Delete</th>
      </tr>
    </thead>
    <tbody>

{% for obj in object_list %}
    <tr>
    <td>{{ obj.name|default:"-" }}</td>
        <td>{{ obj.expense_set.count }}</td>
    <td><a href="{% url 'expenses:category-edit' obj.id %}">Edit</a><br></td>
    <td><a href="{% url 'expenses:category-delete' obj.id %}">Delete</a><br></td>

    </tr>
      {% empty %}
      <tr>
        <td colspan="5">no items</td>
      </tr>
    {% endfor %}
    </tbody>
</table><br>
    <a href="{% url 'expenses:category-create' %}">Add Category</a><br><br>
    <a href="{% url 'expenses:expense-list' %}">Expense List</a>


{% endblock %}
